/*=== section-home ===*/
.home
    position: relative
    margin-bottom: 40px

.home__content-wrapper
    max-width: 1820px
    background-image: url('../images/home/Heading.png')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

.home__content-container
    min-height: 400px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    h2
        font-family: Quicksand
        font-size: 50px
        font-weight: 700
        line-height: 63px
        color: #fff
    p
        font-family: Waiting for the Sunrise
        font-size: 30px
        font-weight: 300
        line-height: 50px
        color: #fff
/*=== /section-home ===*/


/*=== section-about-intro ===*/
.about-intro
    position: relative
    margin-bottom: 40px

.about-intro__content-container
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    column-gap: 15px
    row-gap: 30px

.about-intro__column
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    row-gap: 80px

.about-intro__text
    display: flex
    flex-direction: column
    row-gap: 12px
    max-width: 330px
    h2
        font-family: Quicksand
        font-size: 30px
        line-height: 38px
        color: #433840
    p
        font-family: Quicksand
        font-size: 15px
        line-height: 24px
        color: #9A9A9A
/*=== /section-about-intro ===*/


/*=== section-stats ===*/
.stats
    position: relative
    margin-bottom: 40px

.stats__content-wrapper
    max-width: 1820px
    background-image: url('../images/home/Stats.png')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

.stats__content-container
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    row-gap: 30px
    min-height: 600px
    padding: 190px 0

.stats__column
    display: grid
    justify-content: center
    justify-items: center
    align-items: center
    row-gap: 20px

.stats__text
    display: flex
    flex-direction: column
    align-items: center
    span
        font-family: Waiting for the Sunrise
        font-size: 60px
        font-weight: 300
        line-height: 99px
        color: #DFEEB6
    p
        font-family: Quicksand
        font-size: 20px
        font-weight: 700
        line-height: 25px

        color: #fff
/*=== /section-stats ===*/