/*=== reset ===*/
html *, html ::after, html ::before {
  box-sizing: inherit;
  transition: all 0.5s ease 0s;
}

body, ul, li, h1, h2, h3, p, span {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

input, button, a {
  outline-offset: 0;
  border: none;
  outline-color: #1bd1ea;
}
input:active, input:focus, button:active, button:focus, a:active, a:focus {
  border: none;
}

input:not([type=ckeckbox]),
input:not([type=radio]) {
  outline: 2px solid #1fff;
}
input:not([type=ckeckbox]):active, input:not([type=ckeckbox]):focus,
input:not([type=radio]):active,
input:not([type=radio]):focus {
  outline: 1px solid #000;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*=== /reset ===*/
/*=== basics ===*/
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 100%;
  transition: none;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: white;
  transition: none;
}

.content-container {
  max-width: 1140px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .content-container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 400px) {
  .content-container {
    padding: 0 10px;
  }
}
/*=== /basics ===*/
.header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: none;
}

.header__content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  padding: 15px 0;
}

/*=== logotype ===*/
.header__logotype {
  display: flex;
}

/*=== /logotype ===*/
/*=== navigation===*/
.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-list li a {
  position: relative;
  display: flex;
  margin: 0 15px;
  padding: 5px 5px;
  font-family: Quicksand;
  font-size: 18px;
  line-height: 23px;
  color: #433840;
}
.menu-list li a:hover {
  color: #FEA3AC;
}

/*=== /navigation===*/
/*=== main ===*/
.main {
  display: flex;
  flex-direction: column;
}

/*=== /main ===*/
/*=== footer ===*/
.footer {
  position: relative;
}

.footer__top-wrapper {
  background-image: url("../images/footer/footer-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__top-container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding: 50px 0;
}

.footer__opening h2,
.footer__contact h2,
.footer__inst-feed h2 {
  margin-bottom: 25px;
  font-family: Quicksand;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  color: #fff;
}

.footer__opening p {
  font-family: Quicksand;
  font-size: 20px;
  line-height: 35px;
  color: #fff;
}
.footer__opening p span {
  color: #DFEEB6;
}

.footer__contact img {
  display: flex;
  flex-shrink: 0;
  min-width: 34px;
  margin-right: 10px;
}
.footer__contact span,
.footer__contact a {
  display: flex;
  font-family: Quicksand;
  font-size: 20px;
  line-height: 35px;
  color: #fff;
}
.footer__contact span {
  font-weight: 700;
}

.contact__mail {
  text-decoration: underline;
}

.inst-feed__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 350px;
}

.footer__bottom-wrapper {
  background-color: #433840;
}

.footer__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.footer__copyright {
  font-family: Quicksand;
  font-size: 15px;
  line-height: 35px;
  color: #fff;
}

.footer__social {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

/*=== /footer ===*//*# sourceMappingURL=style.css.map */